.container {
  max-width: 960px;
}

.header {
  background: rebeccapurple;
  margin-bottom: 1.45rem;
}

.header-container {
  margin: 0 auto;
  padding: 1.45rem 0rem;
}

.header h1 {
  margin: 0;
}

.header h1 a {
  color: white;
  text-decoration: none;
}
